.container-fluid
  .row
    %main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4{:role => "main"}
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        %h1.h2
          = t(controller_name + "." + action_name + '.title')
      = yield :main_body 
